.profile_card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem;
  border: 0.2rem solid black;
  line-height: 1.5rem;
  .profile_head {
    a {
      display: block;
      text-decoration: none;
    }
  }
}